.mat-mdc-select-panel {
  background-color: rgb(229, 229, 229) !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mat-form-field-container-vertical-padding: 6px;
  --mat-form-field-container-height: 32px;
}
/* You can add global styles to this file, and also import other style files */
